@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

ul li {
    text-decoration: none;
    list-style: none;
    background-color: #e6e6e6;
    border-radius: 0.3rem;
    padding: 1rem;
}